/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #000;
  color: white;
}

/* ปุ่ม logout */
.logout-icon {
  position: absolute;
  top: 1.2vw;
  right: 1.04vw;
  font-size: 1.56vw;
  color: white;
  cursor: pointer;
  margin-right: 1vw;
  margin-top: 0.5vw;
}

.logout-icon:hover {
  color: #5736B9;
}

/* Navbar และลิงก์ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  width: 100%;
 
}

.nav-left {
  display: flex;
  gap: 2.6vw;
  padding-left: 20vw;
  margin-top: 2vw;
}

.nav-left a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25vw;
}

.nav-left a.active {
  color: #5736B9;
  font-weight: bold;
  border-bottom: 0.15vw solid #5736B9;
}

/* กล่องค้นหา */
.search-container {
  display: flex;
  align-items: center;
  margin-right: 0vw;
  margin-top: 2vw;
}

.search-box-wrapper {
  position: relative;
  width: 15vw;
}

.search-box {
  width: 100%;
  padding: 0.52vw 1.56vw;
  border-radius: 2vw;
  border: 0.05vw solid #ccc;
  font-size: 0.9vw;
  background-color: #D9D9D9;
  padding-left: 2vw;
}

.search-icon {
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

/* เมนูลิงก์หลัก */
.link-text {
  display: flex;
  flex-wrap: wrap;
  gap: 7vw;
  margin-right: auto;
  text-align: center;
  margin-left: 25vw;
  margin-top: 3vw;
}

.link-text a {
  padding-left: 2vw;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
}

/* แถบ Tab */
.tab-bar {
  display: flex;
  justify-content: center;
  gap: 1.04vw;
  background-color: #5736B9;
  padding: 0.5vw 1vw;
  transform: translateY(-2vw);
  margin-top: 1vw;
}
.tab {
  margin-right: 1.5vw;
  color: white;
  cursor: pointer;
  padding: 0.52vw 1.04vw;
  font-size: 1.2vw;
}
.profile-dropdown {
  position: absolute;
  top: 3.13vw;
  right: 1.04vw;
  background-color: #1e1e1e;
  border: 0.05vw solid #444;
  border-radius: 0.52vw;
  display: none;
  flex-direction: column;
  min-width: 7.81vw;
  box-shadow: 0 0.21vw 0.52vw rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.profile-dropdown a {
  padding: 0.625vw 0.83vw;
  color: white;
  text-decoration: none;
  border-bottom: 0.05vw solid #333;
  transition: background 0.3s;
  font-size: 0.95vw;
}

.profile-dropdown a:hover {
  background-color: #5736B9;
}

.profile-dropdown a:last-child {
  border-bottom: none;
}

.content {
  padding: 30px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-label {
  font-size: 14px;
  color: gray;
}

.info-value {
  font-size: 16px;
  margin-bottom: 10px;
}

.edit-link {
  color: orange;
  float: right;
  font-size: 14px;
  cursor: pointer;
}